# Settings related to VSCode should be kept private
**.vscode

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# binaries to copy when
infrastructure/docker/appsrv/_binaries_tmp/*
!infrastructure/docker/appsrv/_binaries_tmp/note_tmp.md
infrastructure/docker/appsrv/_binaries/*
!infrastructure/docker/appsrv/_binaries/note.md

#environments
environments/*
!environments/_template

#binary-files
files/*
